secret/*
001_Create_AWS_EC2_instance/.terraform/*
001_Create_AWS_EC2_instance/terraform*
001_Create_AWS_EC2_instance/.terraform*
002_Create_LEMP_file/.terraform/*
002_Create_LEMP_file/terraform*
002_Create_LEMP_file/.terraform*
003_Create_LEMP_templatefile/.terraform/*
003_Create_LEMP_templatefile/terraform*
003_Create_LEMP_templatefile/.terraform*
004_Nearly_Zero_DownTime_LEMP_ALB/.terraform/*
004_Nearly_Zero_DownTime_LEMP_ALB/terraform*
004_Nearly_Zero_DownTime_LEMP_ALB/.terraform*
005_Data_Sources/.terraform/*
005_Data_Sources/terraform*
005_Data_Sources/.terraform*
006_Zero_DownTime_LEMP_ALB_ASG/.terraform/*
006_Zero_DownTime_LEMP_ALB_ASG/terraform*
006_Zero_DownTime_LEMP_ALB_ASG/.terraform*
007_Random_string_and_Parameter_Store/.terraform/*
007_Random_string_and_Parameter_Store/terraform*
007_Random_string_and_Parameter_Store/.terraform*
008_Create_VPC_ALB_Bastion_and_Web_Servers/.terraform/*
008_Create_VPC_ALB_Bastion_and_Web_Servers/terraform*
008_Create_VPC_ALB_Bastion_and_Web_Servers/.terraform*
009_Create_resourses_in_two_regions_bonus_global_accelerator/.terraform/*
009_Create_resourses_in_two_regions_bonus_global_accelerator/terraform*
009_Create_resourses_in_two_regions_bonus_global_accelerator/.terraform*
010_Remote_State/layer_1_vpc/.terraform/*
010_Remote_State/layer_1_vpc/terraform*
010_Remote_State/layer_1_vpc/.terraform*
010_Remote_State/layer_2_ec2/.terraform/*
010_Remote_State/layer_2_ec2/terraform*
010_Remote_State/layer_2_ec2/.terraform*
010_Remote_State/layer_3_alb/.terraform/*
010_Remote_State/layer_3_alb/terraform*
010_Remote_State/layer_3_alb/.terraform*
011_Create_modules/testings_aws_vpc/.terraform/*
011_Create_modules/testings_aws_vpc/terraform*
011_Create_modules/testings_aws_vpc/.terraform*
011_Create_modules/testings_aws_security_group/.terraform/*
011_Create_modules/testings_aws_security_group/terraform*
011_Create_modules/testings_aws_security_group/.terraform*
